.container {
    border-radius: 5px;
    padding: 20px;
    display: flex;
    justify-content: center;
    min-height: 800px;
}

.image-container{
  width: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.ant-list-item{
  color:white;
}